*, *::before, *::after {
    box-sizing: border-box;
}

.numbered {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-left: 0;
    margin-bottom: 18px;
}

@media (min-width: 960px) {
   
}
.process  {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/* FRAME */
.frame {
    border: 1em solid #fff;
    height: 100%;
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
@media all and (min-width: 640px) {
    .frame {
        border-width: 2em;
   }
}
/* SECTIONS */
.section {
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 2em;
    background: #33416b;
}
@media all and (min-width: 640px) {
    .section {
        padding: 4em;
   }
}
@media all and (min-width: 960px) {
    .section {
        padding: 6em;
   }
}
/* SPLIT VISION */
.split-vision {
    overflow: hidden;
}
.split-vision .column .content {
    max-width: 540px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
}
@media all and (min-width: 800px) {
    .split-vision {
        display: flex;
        align-items: center;
   }
    .split-vision .column {
        width: 50%;
   }
    .split-vision .column .content {
        padding-right: 1em;
        /* padding-left: 20%; */
        margin-right: -10%;
   }
}
@media all and (min-width: 960px) {
    .split-vision .column .content {
        margin-right: 0;
   }
    .split-vision.reverse .column .content {
        margin-left: 0;
   }
}
/* PROCESS */
.process {
    width: 100%;
    max-width: none;
}
.process .discover, .process .design, .process .implement, .process .develop, .process .deliver {
    opacity: 0.8;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: opacity 0.25s;
}
.process.js-animate .discover, .process.js-animate .design, .process.js-animate .implement, .process.js-animate .develop, .process.js-animate .deliver {
    animation: grow-up 1s forwards;
}
.process.js-animate .discover {
    animation-delay: 0.25s;
}
.process.js-animate .design {
    animation-delay: 0.5s;
}
.process.js-animate .implement {
    animation-delay: 0.75s;
}
.process.js-animate .develop {
    animation-delay: 1s;
}
.process.js-animate .deliver {
    animation-delay: 1.25s;
}
@keyframes grow-up {
    0% {
        transform: scaleY(0);
   }
    50% {
        transform: scaleY(1.1);
   }
    80%, 100% {
        transform: scaleY(1);
   }
}
.process-details {
    max-width: 1440px;
    padding: 2em;
    margin-right: auto;
    margin-left: auto;
}
.process-details .discover, .process-details .design, .process-details .implement, .process-details .develop, .process-details .deliver {
    max-width: 480px;
    padding: 1em 0;
    margin-right: auto;
    margin-left: auto;
    transition: opacity 0.25s;
}


.discover > p,
.design > p,
.implement > p,
.develop > p,
.deliver > p {
    color: white;
    font-size: 1rem !important;
    line-height: 2rem !important;
}
.process-details .discover .heading, .process-details .design .heading, .process-details .implement .heading, .process-details .develop .heading, .process-details .deliver .heading {
    font-weight: 700;
}
.process-details .discover .heading::after, .process-details .design .heading::after, .process-details .implement .heading::after, .process-details .develop .heading::after, .process-details .deliver .heading::after {
    width: 40px;
    height: 4px;
    margin-top: 0.25em;
    display: block;
    content: '';
}
.process-details .discover .heading::after {
    background: #50b1aa;
}
.process-details .design .heading::after {
    background: #f57a73;
}
.process-details .implement .heading::after {
    background: #ffb566;
}
.process-details .develop .heading::after {
    background: #43c0e6;
}
.process-details .deliver .heading::after {
    background: #60666a;
}
@media all and (min-width: 800px) {
    .process-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
   }
    .process-details .discover, .process-details .design, .process-details .implement, .process-details .develop, .process-details .deliver {
        width: 50%;
        padding-right: 1em;
        padding-left: 1em;
   }
    .process-details .discover {
        order: 1;
   }
    .process-details .design {
        margin-right: 0;
        order: 4;
   }
    .process-details .implement {
        order: 2;
   }
    .process-details .develop {
        margin-left: 0;
        order: 5;
   }
    .process-details .deliver {
        order: 3;
   }
}
@media all and (min-width: 800px) {
    .process-details .discover, .process-details .design, .process-details .implement, .process-details .develop, .process-details .deliver {
        width: 33.3334%;
   }
}
@media all and (min-width: 1280px) {
    .process-details .discover, .process-details .design, .process-details .implement, .process-details .develop, .process-details .deliver {
        padding-right: 2em;
        padding-left: 2em;
   }
}


@media screen and (max-width: 959px) {
    .numbered {
        font-size: 36px;
        text-align: center;
    }
    .split-vision .column {
        width: 100%;
    }
    .split-vision .column .content {
        padding: 0;
        margin: 0;
    }
  }