.philosophy {
    /* background-color: white; */
    color: #333;
    padding: 1rem 1.2rem;
    margin: 2rem 1rem;
    /* border: 1px solid black; */
}

.p-title {
    font-size: 1.05rem;
    letter-spacing: 2px;
    color: #a2a6e1;
    margin-bottom: 0.6rem;
}

.p-content {
    width: 70%;
    letter-spacing: 3px;
    margin-bottom: 0.8rem;
    font-size: 26px;
}

.btn-fix {
    margin: 0;
    line-height: 62px;
    height: 60px;
    letter-spacing: 1px;
    min-width: 165px;
}

@media (max-width: 992px) {
    .philosophy {
        
    }
}