@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

/* Override UGG site */
#main {width: 100%; padding:0;}
.content-asset p {margin:0 auto;}
.breadcrumb {display:none;}

/* Helpers */
/**************************/
.margin-top-10 {padding-top:10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Typography */
/**************************/
/* #parallax-world-of-ugg h1 {font-family:'Oswald', sans-serif; font-size:24px; font-weight:400; text-transform: uppercase; color:black; padding:0; margin:0;} */
#parallax-world-of-ugg h2 {font-family:'Oswald', sans-serif; font-size:70px; letter-spacing:10px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;}
#parallax-world-of-ugg h3 {margin-bottom: 7px; font-family:'Oswald', sans-serif; font-size:14px; line-height:0; font-weight:400; letter-spacing:8px; text-transform: uppercase; color:black;}
#parallax-world-of-ugg p {
  color:#256c88;font-family: 'Noto Sans TC';
  font-weight: 500; font-size:24px; line-height:50px;}
.first-character {font-weight:400; float: left; font-size: 84px; line-height: 64px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: 'Source Sans Pro', sans-serif;}

.sc {color: #3b8595;}
.ny {}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  font-family: 'Noto Sans TC';
  background: #f4f4f4; padding: 48px; margin:0 auto; text-align:center;
}
#parallax-world-of-ugg .title h1 {
  font-family: 'Noto Sans TC';
  font-size:34px; line-height: 60px; letter-spacing:8px;
}
#parallax-world-of-ugg .title {
  /* padding-top: 280px; */
}
/* Section - Block */
/**************************/

#parallax-world-of-ugg .block {
  font-family: 'Noto Sans TC';
  font-weight: 300;
  position: relative;
  z-index: 10;
}
#parallax-world-of-ugg .block {background: transparent; padding: 60px; width:820px; margin:0 auto; text-align:justify;}
#parallax-world-of-ugg .block-gray {background: #f2f2f2;padding: 60px;}
#parallax-world-of-ugg .section-overlay-mask {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: black; opacity: 0.70;}

#parallax-world-of-ugg .block {
  padding: 200px 0 200px 0;
}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-flip-02-one {min-height: 720px; padding-top: 250px; padding-bottom: 250px; overflow: hidden; position: relative; width: 100%; background-image: url('https://images.unsplash.com/photo-1502224562085-639556652f33?q=80&w=2028&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: top center;}
#parallax-world-of-ugg .parallax-flip-02-two {min-height: 720px; padding-top: 250px; padding-bottom: 250px; overflow: hidden; position: relative; width: 100%; background-image: url('https://images.unsplash.com/photo-1528360983277-13d401cdc186?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}
#parallax-world-of-ugg .parallax-flip-02-three {
  min-height: 720px; 
  padding-top: 250px; 
  padding-bottom: 250px; 
  overflow: hidden; 
  position: relative; 
  width: 100%; 
  background-image: url('/drink-colorful.png'); 
  background-attachment: fixed; 
  background-size: cover; 
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}
#parallax-world-of-ugg .parallax-flip-02-four {min-height: 720px; padding-top: 250px; padding-bottom: 250px; overflow: hidden; position: relative; width: 100%; background-image: url('https://images.unsplash.com/photo-1579954115545-a95591f28bfc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); background-attachment: fixed; background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-repeat: no-repeat; background-position: center center;}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {border-bottom:1px solid black; width: 150px; margin:0 auto;}

.sub-title { font-weight: 500; font-size: 24px;}
/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {padding: 40px; width:620px;}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .parallax-flip-02-one,
  #parallax-world-of-ugg .parallax-flip-02-two,
  #parallax-world-of-ugg .parallax-flip-02-three,
  #parallax-world-of-ugg .parallax-flip-02-four
  {
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: local;
  }
  
  .sub-title {
    font-size: 18px;
  }

  #parallax-world-of-ugg .title {
    background-color: transparent;
    padding: 18px 18px 18px 18px;
  }
  #parallax-world-of-ugg .title h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2px;
  }

  .section-words {
background: #ffffff;
    text-align: center;
  }

  #parallax-world-of-ugg p {
    color:#256c88;
    font-size: 21px;
    line-height: 42px;
  }
  
  #parallax-world-of-ugg .block {display: inline-block; padding: 10px; width:560px;}
  #parallax-world-of-ugg h2 {font-size:21px;}
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  
  #parallax-world-of-ugg .parallax-flip-02-one,
  #parallax-world-of-ugg .parallax-flip-02-two,
  #parallax-world-of-ugg .parallax-flip-02-three,
  #parallax-world-of-ugg .parallax-flip-02-four {
    min-height: 480px;
  }
  #parallax-world-of-ugg .parallax-flip-02-three {
    background-size: contain; 
    -moz-background-size: contain; 
    -webkit-background-size: contain; 
    min-height: 286px; 
    padding-top: 12px; 
    padding-bottom: 12px; 

  }
  #parallax-world-of-ugg .parallax-flip-02-four {
    /* margin-bottom: 36px; */
  }

  .animate-fadeInUp, .animate-slideInLeft, .animate-zoomIn {
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .animate-fadeInUp.show {
    animation: fadeInUp 1s ease-out forwards;
  }
  
  .animate-slideInLeft.show {
    animation: slideInLeft 1s ease-out forwards;
  }
  
  .animate-zoomIn.show {
    animation: zoomIn 1s ease-out forwards;
  }
  .animate-zoomOut.show {
    animation: zoomOut 1s ease-out forwards;
  }

  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
  .first-character {
    font-size: 52px;
  }
  #parallax-world-of-ugg p {
    color:#256c88;
    font-size: 18px;
    line-height: 36px;
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

