* {
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}

:root {
    --faded-black: #242424;
    --grey94: #f0f0f0;
    --grey90: #e6e6e6;
    --grey92: #ebebeb;
    --grey60: #999;
    --button-right-margin: 0px;
    --radius-xsmall: 14px;
    --grey98-0-75: rgba(249,249,249,.75);
    --navbar-left-right-padding: 0rem;
    --grey85: #d9d9d9;
    --radius-xtiny: 10px;
    --grey98: #f9f9f9;
    --grey70: #b2b2b2;
    --tiny-radius: 10px;
    --grey90-0-85: rgba(230,230,230,.85);
}

::selection {
    color: #fff;
    background: #242424;
}


body {
    color: var(--faded-black);
    font-family: SuisseIntl, Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}

a {
    color: var(--faded-black);
    text-decoration: none;
}

.section_work {
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.featured {

}

.heading-style-h6 {
    text-transform: uppercase;
    font-family: ProvidenceSansPro, sans-serif;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1;
}

.heading-style-h4 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.1;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: SuisseIntl Medium, Arial, sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 120%;
}

.spacer-tiny {
    width: 100%;
    padding-top: .25rem;
}

.spacer-medium {
    width: 100%;
    padding-top: 2rem;
}

.page-wrapper {
    cursor: none;
}

/* home-work_gallery w-dyn-list */

.work_gallery {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    flex-flow: wrap;
    grid-template:
        "Area Area Area-2"
        "Area-3 Area-4 Area-4"
        "Area-5 Area-5 Area-5" / 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
}

.gallery_item {
    border-radius: var(--radius-xsmall);
    transition: opacity .5s;
    position: relative;
    overflow: hidden;
}

.gallery_link {
    /* cursor: none; */
    width: 100%;
    height: 100%;
    padding-top: 56.25%;
    position: relative;
}

/* .gallery_link {
    -webkit-filter:   contrast(80%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
    filter:   contrast(80%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
mix-blend-mode: none;
-webkit-filter:   contrast(110%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
            filter:   contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
    mix-blend-mode: multiply;
} */



.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.gallery_image {
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.w-dyn-hide, .w-dyn-bind-empty, .w-condition-invisible {
    display: none !important;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

img {
    border: 0;
}

.gallery_video {
    z-index: 1;
    object-fit: cover;
    width: 100%;
    max-width: none;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.w-embed:before, .w-embed:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}

.hero_media-item-video {
    height: 100% !important;
}

.w-background-video {
    color: #fff;
    height: 500px;
    position: relative;
    overflow: hidden;
    /* filter: contrast(0.7); */
}

.video-fix4 {
    filter: brightness(0.35);
}

.w-background-video>video {
    object-fit: cover;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
}

audio, canvas, progress, video {
    vertical-align: baseline;
    display: inline-block;
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}



.work_tag-container {
    z-index: 10;
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    flex-wrap: wrap;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    padding: 1.25rem;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
}
.tag.is-white {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: #fff;
    align-self: flex-start;
}
.tag {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    background-color: var(--grey98-0-75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: var(--faded-black);
    border-radius: 1000px;
    align-items: center;
    padding: 12px 14px;
    font-family: SuisseIntl Book, Arial, sans-serif;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
}
.services-tags {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
}




@media (min-width: 768px) {
    .home-work_gallery .gallery_item:nth-child(5n+1), .home-work_gallery .gallery_item:nth-child(5n+4), .home-work_gallery .gallery_item:nth-child(5n+6) {
        width: calc(66.6666% - 0.625rem);
    }
}


@media (min-width: 768px) {
    .home-work_gallery .gallery_item:nth-child(5n+2), .home-work_gallery .gallery_item:nth-child(5n+3), .gallery_item:nth-child(5n+7) {
        width: calc(33.3333% - 0.625rem);
    }
}

@media (min-width: 768px) {
    .home-work_gallery .gallery_item:nth-child(5n+2), .home-work_gallery .gallery_item:nth-child(5n+3), .gallery_item:nth-child(5n+7) {
        width: calc(33.3333% - 0.625rem);
    }
}

@media (min-width: 768px) {
    .home-work_gallery .gallery_item:nth-child(5n+1), .home-work_gallery .gallery_item:nth-child(5n+4), .home-work_gallery .gallery_item:nth-child(5n+6) {
        width: calc(66.6666% - 0.625rem);
    }
}

@media (min-width: 768px) {
    .home-work_gallery .gallery_item:nth-child(5n+5), .gallery_item:nth-child(5n+8) {
        width: 100%;
    }
}


@media screen and (max-width: 991px) {
    .heading-style-h4 {
        font-size: 2.6rem;;
    }
}

@media screen and (max-width: 768px) {
    .padding-section-medium {
        padding-top: 1.5rem;
        padding-bottom: .5rem;
    }
    .heading-style-h4, .heading-style-h6 {
        display: none;
    }
    .special-section {
        padding-top: 0;
        padding-bottom: 0rem;
    }
    
}

@media screen and (max-width: 767px) {
    .gallery_item {
        width: 100%;
    }
}


html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }
  
  html,
  body{
    height: 100%;
  }



 .text {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 270px;
	 z-index: 10;
}
 svg {
	 width: 100%;
	 /* height: inherit; */
}
 svg text {
	 text-anchor: middle;
}
 svg #alpha {
    fill: rgba(250,250,250, .3);
 }
 svg #alpha2 {
    fill: #767676;  
 }
 svg #alpha3 {
    fill: #769588;
 }
 svg #alpha4 {
	 fill: #7bc653;
     /* fill: #767676;   */
}
 svg #title,
 svg #title2,
 svg #title3,
 svg #title4 {
	 letter-spacing: -2px;
	 font-size: 6em;
	 font-weight: 800;
}
 svg #subtitle,
 svg #subtitle2,
 svg #subtitle3,
 svg #subtitle4 {
	 letter-spacing: 8px;
	 font-size: 1.2em;
	 font-weight: 300;
	 text-transform: uppercase;
}
 svg #base {
	 fill: black;
	 mask: url(#mask);
}

svg #base2 {
    fill: #fff;
    mask: url(#mask2);
}

svg #base3 {
    fill: #fff;
    mask: url(#mask3);
}

svg #base4 {
    fill: #fff;
    mask: url(#mask4);
}

.entry-link-title:first-child {
    color: rgba(68, 68, 68, 0.9);
}

.entry-link-title {
    position: absolute;
    top: 10%;
    right: 6%;
    font-size: 3rem;
    color: rgba(240, 240, 240, 0.9);
    z-index: 1;
}
